@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sarala:wght@400;700&display=swap');

:root{
    --azul-bem-claro: #bfd7eaff;
    --azul-medio: #91aec1ff;
    --air-force-blue: #508ca4ff;
    --black-olive: #1f271bff;
    --flax: #f5dd90ff;

    --font-destaque: 'Bebas Neue', 'cursive';
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-texto: 'Sarala', Arial, Helvetica;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: var(--air-force-blue);
    font-family: var(--font-destaque);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

header img{
    width: 50px;
}

header h1{
    font-size: 4vw;
}

header a{
    font-size: 3vw;
    color: white;
    text-decoration: none;
}

header a:hover{
    color: var(--black-olive);
    text-decoration: underline;
}

.section1{
    font-family: var(--font-destaque);
    color: white;
    text-align: center;
    padding: 20px;
    background-color: var(--azul-medio);
}

section{
    max-width: 1000px;
    min-width: 300px;
    max-height: 600px;
    min-height: 400px;
    padding:10px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: var(--font-destaque);
    color: white;
    background-color: black;
}

.text-box{
    padding: 10px;
    background-color: rgba(0, 108, 248, 0.349);
    border-radius: 10px;
}

#pintura{
    background-image:url('imagens/janela01.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

#armario{
    background-image: url('imagens/armario01.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#install-painel{
    background-image: url('imagens/forro01.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}